.newsletter {
  width: 65%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 140px;
  margin-bottom: 110px;
  background: linear-gradient(180deg, #fccad5, #ffffff);
  gap: 30px;
}
.newsletter h1 {
  color: #373636;
  font-size: 50px;
  font-weight: 700;
}
.newsletter p {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  margin-top: -20px;
}
.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 60px;
  border-radius: 70px;
}
.newsletter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #0a0a0a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.newsletter div button {
  width: 210px;
  height: 60px;
  border-radius: 70px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


/* Responsive styles */

/* For screens smaller than 768px (tablets and phones) */
@media only screen and (max-width: 768px) {
  .newsletter {
    padding: 0 40px; /* Adjusted padding for smaller screens */
  }
  .newsletter h1 {
    font-size: 40px; /* Adjusted font size for smaller screens */
  }
  .newsletter p {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
  .newsletter div {
    width: 100%; /* Adjusted width for smaller screens */
    max-width: 500px; /* Adjusted max-width for smaller screens */
  }
  .newsletter input {
    width: calc(100% - 30px - 210px); /* Adjusted width for smaller screens */
  }
}

/* For screens smaller than 480px (most phones in portrait mode) */
@media only screen and (max-width: 480px) {
  .newsletter {
    padding: 0 20px; 
  }
  .newsletter h1 {
    font-size: 30px; 
  }
  .newsletter p {
    font-size: 16px; 
  }
  .newsletter div {
    width: 100%; 
    max-width: 100%; 
  }
  .newsletter input {
    width: calc(100% - 30px - 210px); 
  }
}