.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 30px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 600;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(172, 70, 70);
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 130px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 600;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #d8d7d7;
}
.nav-cart-count{
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 15px;
    background-color: red;
    color: white;
}


/* for responsive  */
@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu {
        gap: 20px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 20px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }.nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    } 
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-menu {
        flex-direction: column;
        gap: 20px;
    }
    .nav-login-cart {
        gap: 20px;
    }
}

/* For screens smaller than 480px (most phones in portrait mode) */
@media only screen and (max-width: 500px) {
    .nav-logo p {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .nav-menu li {
        height: 8px;
    }
    .nav-login-cart button{
        width: 120%;
        height: 10%;
        padding: 8px;
        margin-top: 5px;
    }
    .nav-login-cart button:hover{
        background-color: rgb(242, 213, 110);
    }
    .nav-login-cart{
        display: flex;
        align-items:center;
        gap: 30px;
        margin-top: 20px;
    }

}