.new-collections{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 8%;
}
.new-collections h1{
  color: #171717;
  font-size: 40px;
  font-weight: 700;
}
.new-collections hr{
  width: 250px;
  background: #252525;
}
.collections{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  max-width: 96%;
  gap: 20px;
}

.item {
  text-align: center;
  margin-top: 20px;
  max-width: 100%;
}




/* Responsive styles */

/* For screens smaller than 768px (tablets and phones) */
@media only screen and (max-width: 768px) {
  .new-collections h1 {
    font-size: 30px;
  }
  .new-collections hr {
    width: 200px;
  }
  .collections {
    grid-template-columns: 1fr 1fr;
  }
}

/* For screens smaller than 480px (most phones in portrait mode) */
@media only screen and (max-width: 480px) {
  .new-collections h1 {
    font-size: 24px;
  }
  .new-collections hr {
    width: 150px;
  }
  .collections {
    grid-template-columns: 1fr;
  }
}